{% extends 'base.html' %}

{% block title %}
<title>Enquiries</title>
{% endblock %}

{% block content %}
<h1>
    Students Enquiry Details:
</h1>

<table class="table table-dark" border="1">
    <tr>
        <th>Sr No.</th>
        <th>Name</th>
        <th>Mobile</th>
        <th>Education</th>
        <th>Branch</th>
        <th>College</th>
        <th>Gender</th>
        <th>Passout Year</th>
        <th>Course</th>
        <th>Batch Type</th>
        <th>Refference</th>
        <th>Remark</th>
        <th>Action</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{i.sno}}</td>
        <td>{{i.name}}</td>
        <td>{{i.mobile}}</td>
        <td>{{i.education}}</td>
        <td>{{i.stream}}</td>
        <td>{{i.college}}</td>
        <td>{{i.gender}}</td>
        <td>{{i.pass_year}}</td>
        <td>{{i.course}}</td>
        <td>{{i.b_type}}</td>
        <td>{{i.reff}}</td>
        <td>{{i.remark}}</td>
        <td>
            <button class="btn btn-warning"><a href="">update</a></button>
            <button class="btn btn-danger"><a href="">Delete</a></button>
    </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}